* { margin: 0;}

.List { list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;

}


nav { 
background-color: #202649;
color: white;
font-weight: bold;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding:15px 60px;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 38) ;}

#Box1 {
    position: absolute;
    left: 40px;
    top: 180px;
    width: 300px;
    height: 400px;
    background-color:#202649 ;
}

#Box2 {
    display: flex;
    justify-content:center;
    align-self: center;
    padding: 10px 20px;
    font-size: 50px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 350px;
    top: 120px;
    width: 600px;
    height: 620px;
    background-color:#202649 ;
}

#Box3 {
    position: absolute;
    right: 50px;
    top: 180px;
    width: 300px;
    height: 400px;
    background-color:#202649 ;}
